div.slideshow-container {
	height: 600px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	height: 600px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow a.advance-link {
	height: 600px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.caption {
	margin-top: -160px;
}