body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container {
/* 	width: 960px; */
	height: auto;
	padding: 0 0 0 90px;
}
h1 {
	width: 200px;
	margin: 0 0 30px 0;
	padding-top: 90px;
	font-size: 1.1em;
	font-weight: bold;
}
	h1 a {
		color: #000;
		text-decoration: none;
	}
#sitenav {
	width: 60px;
	float: left;
	margin-right: 90px;
	padding-right: 90px;
}
	#sitenav a {
		color: #707070;
		font-size: 0.9em;
		font-weight: normal;
		text-decoration: none;
		line-height: 1.85em;
	}
	#sitenav a:hover {
		color: #E00000;
	}
	#sitenav .nav-selected {
		font-weight: bold;
		color: #000;
	}
	#sitenav .nav-selected:hover {
		cursor: default;
		color: #000;
	}
#gallery {
	float: left;
	margin-top: -67px;
	border: none;
}
	#gallery a:focus {
		outline: none;
	}
#slideshow a img{
	border: none;
}
#submenu-works-years {
	margin-left: 20px;
	display: none;
}
	#submenu-works-years a {
		line-height: 1.4em;
	}
#text-content {
/* 	width: 610px; */
	float: left;
	margin-top: -8px;
	padding-top: 13px;
}
	#text-content p {
		color: #707070;
		font-size: 0.9em;
		padding: none;
		margin: none;
		line-height: auto;
		margin: 0;
	}
	#text-content p.heading {
		font-weight: bold;
		margin-bottom: 20px;
	}
	#text-content p a {
		color: #707070;
		text-decoration: none;
	}
	#text-content p a:hover {
		color: #E00000;
	}
	#text-content span.year {
		margin-right: 1rem;
        padding-right: 1rem;
        display: table-cell;
	}
    .yearlist {
        display: table-row;
}
	#text-content p.text-page  {
		width: 570px;
		line-height: 18px;
		text-align: justify;
	}
.caption .image-title a {
	color: #000;
}
	.caption .image-title a:hover {
		color: #E00000;
		text-decoration: none;
	}

 .menu-contacts {
     padding-top: 0em
 }
