body { font-family: Arial, sans-serif;}
#container { position: relative;}
#sitenav { position: absolute; top: 141px; left: 90px;}
#gallery { margin-left: 237px;}
#gallery { margin-top: -47px;}
#text-content { margin-left: 240px;}
div.caption { margin-top: 0;}